Requirements for the BoffoRegister
UNCG CSC 340-02
Spring 2017 - Instructor I. Quigley


A. INTRODUCTION
In the modern age efficient and easy to use POS systems are essential for a business to succeed.
While other competitors offer unique interfaces, BoffoRegister™ offers a simple to use, speedy system
that gets your customers out the door as fast as possible. Other POS systems are clogged with
unnecessary features built for other stores. BoffoRegister™ is built from the ground up, from sales
to refunds to important manager features, to appeal to GameKnight and their unique business challenges.

B. GLOSSARY
Genre - A description of the process a narrative is told in a game. (e.g. Drama, Crime, Fantasy)
Game Type - A description of how a game is played and what skills it may employ. (e.g. Action, Adventure, Strategy)
ESRB Rating - A letter and description system used to categorize a game's maturity content and intended audience age.
Game Medium - A category that describes the means or system in which a game is played. (e.g. Video Game, Board Game, Card Game),
Platform (Game System) - A non-PC game medium that is used to play videogames, sometimes called a game system. (e.g. Xbox One, Playstation 4),
Compatibility - A description of how able a game is to be played in different platforms.
Controller - A platform-specific device that allows the user to control a game system and the games on it.
Modification (Mod) - An alteration that may change how a game is played.
Expansion Pack - Additional content that is released by a game's developer(s) to add features to the original (base) game.
Release Date - The date in which a game is released to the general public for purchase.
Pre-order - A product that is ordered before the intended release date.
Glitch (Bug) - An unintended fault in the operation of a game or a platform.
Technical Support - A service for assisting customers with technical questions or issues that regard the operations of a game or game system.
Warranty - A written garauntee that promises to repair or replace a product within a specified time. (e.g. 2 Year Warranty)
User - Any employee who may interact with the register system.
Stock (Inventory) - Goods or materials that are held for the intent of sale or repair.
Stock Keeping Unit (SKU) - An alphanumeric (A-Z, 0-9) identification of a product specific to a company that allows it to be tracked for inventory purposes.
Universal Product Code (UPC) - Twelve unique, numeric digits and a corresponding barcode assigned to an item.

C.GENERAL KNOWLEDGE ABOUT THE DOMAIN
This system will perform many functions such as: tracking inventory, sales,
handling payments, managing users, calculating pricing, printing receipts, returns,
and scanning item barcodes.

This machine will primarily be used for a small store, with no franchises, and
sells non-electronic games and cards. The machine will be equipped with a cash
drawer, and a credit card reader.

D. CUSTOMERS AND USERS

CUSTOMERS
Customers of the game store include adults and adolescents, both groups can be expected to represent a repeat customer base. The
demographics of the customer base will be based upon the physical location of the store, variety of merchandise sold, volume of
inventory, and the pricing of the merchandise. Due to the single location of the store and non-electronic nature of the stock,
face-to-face and online commerce can be expected to be the two ways in which the system is used to sell merchandise.

USERS
Sales associates include the floor staff who are in charge of stocking goods and maintaining the appearance of the store. Additional
sale associates include salespersons and cashiers who assist customers and encourage purchases on the sales floor, they interact
directly with other employees in the workplace and incoming customers. The sales associates will need to have sufficient knowledge of
how to operate the software in order to create and complete transactions. In the event of a conflict during a transaction, it is
expected that a manager or supervisor will be called to give access to functions other than basic transactions.

Managers and shift supervisors are employees who are in control of delegating tasks and ensuring proper optimization of store
functions; they have special access to the software that associates do not have. Each supervisor is given a code that can be entered
into the system in order to complete returns, enter a “No Sale,” and resolve conflicts that may arise during a transaction. As such,
managerial staff will require a higher level of training in regards to the software.

Outlier users of the system consist of suppliers of merchandise and shipping companies that deliver stock to the store and to online
customers. Banking and credit card companies represent users of the system based on their monetary communication with the system. If
the store has a lease or a mortgage then either a bank or a landlord will have an indirect role within the system. These users will
have little to no direct access to the software, but they will receive communication from it.

E. THE ENVIRONMENT
A Java program running an operating system of Windows 7 or higher, Mac OS X, or
Linux. The operating system in question also needs to be able to run a MySQL
database.

The program should allow for a receipt printer, a bar code scanner, and a credit
card reader over USB 2.0.

The main input method should be over keyboard and mouse using USB 2.0.

F. TAKES AND PROCEDURES CURRENTLY PERFORMED
Point of Sale: Allow users to process transactions by adding and removing items
to the transaction (by scanner or entering item manually) and it will record
transactions.

Payment: Allow customers to pay in cash or credit. For cash, cashier will enter
amount and POS will calculate and display change. For credit the POS will read
the card, then verify and bill through an API (notify of success or failure).

Print Receipt: The POS will print a receipt when the transaction completes. The
receipt will include the following information:
1. Store name and phone number
2. Time
3. Items with price
4. Subtotal, tax and total
5. Payment method and change
6. Receipt message

Returns: Load the transaction from receipt number. Check that returned item is
on transaction. Record the reason for the return. Calculate and display the
refund amount. Pay out the refund in the original payment method. Update
the current inventory with returned item if item is resalable (if return
reason allows).

Pricing: This will be handled by the database. All of the info about the
pricing, including time at point of sale and profit made, will be stored in a
database and called on when needed.

Inventory: This data will also be stored on a database. When a query is made as
to whether or not we have an item in stock, it will return true if the item
quantity on hand is above zero, and false if otherwise. Also once items are
sold, it will subtract the corresponding quantity from the database.

I/O: All of these items, barcode scanner, receipt printer, and cash drawer, will
work off the serial ports on the computer, and by implementing a script in C,
so that we can interact with these things in our Java source code.

Admin settings: Admin settings will also be stored on the database. Whenever a
user is created, they will be given a ranking, which corresponds to a heirarchy
table in the database, stating which actions they can and cannot perform. So all
that will be required of the local system is a simple check of the user’s
permissions before performing an operation that would require management
approval, and if the user currently logged in is not approved for those
functions, an override prompt will appear. Special receipt messages can be
stored locally and referenced at time of receipt printing.

Users: Login will be handled by the database; when a user attempts to
login, the database will validate their username and password, and the software will
lock or unlock appropriately. All account management functions operate on the database, 
and can only occur after user validation (see Security Settings). Overrides will perform 
operations on any database values, after user validation (see Security Settings).

Security Settings: A user database will be maintained, with username, password,
and privileges. In order to validate privilege, a database call will be made to
ensure that the user has appropriate authority to perform whatever actions they
are attempting to perform.

Tax: On checkout, the purchased items costs will be multiplied by an administrator supplied
tax rate to calculate the final cost.

G. COMPETING SOFTWARE
1. Eposnow
2. Square
3. Lightspeed
4. Revel
5. Smartwerks

H. SIMILARITIES ACROSS DOMAINS
The similarities with our POS system and others in the domain is
the ability to handle simple transactions, track inventory, and handle multiple
users with different levels of security. Our system does not handle trade-in
calculations or track used products. It is assumed that the products are sold as
new.
